.sidebar {
    top: 50px;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
  }
  .sidebarWrapper {
    padding: 20px;
  }
  .sidebarList {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    flex: auto;
  }
  .sidebarListItem:hover{
    color:red;
  }
  
  .sidebarIcon {
    margin-right: 15px;
  }
  
  .sidebarButton {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
  }
  .sidebarButton:hover{
    color:red;
  }
  
  .sidebarHr {
    margin: 20px 0;
  border: black ridge 1px;
  }
  
  .sidebarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
    cursor: pointer;
  }
  @media (max-width: 800px) {
  .sidebarList{
    display: block;

  }
  }
  
 
  